service vendor.graphics.allocator /vendor/bin/hw/android.hardware.graphics.allocator-service.minigbm_generic_x86
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
